@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html, body
{
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative;
	font-family: 'Comfortaa', cursive;
    min-height: 350px;
    min-width: 650px;
    background-color: black;
    user-select: none;
}

/* Background where game is rendered on */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Contains all other ui elements */
#container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
}

/* === Main Menu === */

/* container of main menu */
#container > #main-menu {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#prompt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

h1 {
    user-select: none;
    color: white;
    font-size: 64px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    user-select: none;
}



#main-menu button {
    position: relative;

    width: 100%;
    color: white;
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
    background-color: black;
    border-style: groove;
    border-radius: 32px;
    padding: 20px 50px;
}

#main-menu button {
    background-color: black;
    transition: 0.3s;
}

#main-menu li button:active {
    background-color:rgb(73, 22, 194) !important;
}

.clickable {
    cursor: pointer;
}

#main-menu button.clickable:hover {
    background-color:#0044ff;
    transition: 0.2s;
}

#main-menu li {
    margin-bottom: 40px;
}

@keyframes flyUp {
    10% {
        margin-top: 10%;
    }
    100% {
        margin-top: -50%;
    }
}

.flyUp {
    animation-name: flyUp;
    animation-duration: 1.8s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.fadeout {
    animation-name: fadeout;
    animation-duration: 1.5s;
}


